<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ipsa magni molestias, veritatis possimus ratione beatae atque labore nam,
        blanditiis harum error quo praesentium accusamus rem.
        Beatae assumenda praesentium sit architecto, ut modi consectetur nobis 
        sed est minus inventore voluptates iste dolorum ullam maxime harum ipsa veritatis! 
        Et rem qui magni!
    </div>
</article>